@model IEnumerable<BookStoreAli.Models.Book>

@{
    ViewData["Title"] = "BookDetails";
}

<h1>Book Store</h1>

@Html.ActionLink(linkText: "Create", actionName: "Create")



<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addBook" data-url="@Url.Action("CreatePartial","Book")">
    Create
</button>

<div id="PlaceHolder"></div>

<br />
@*@{
    Html.RenderPartial("CreatePartial");
    }*@
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @if (item.Available == true)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }

                </td>

                <td>
                    @Html.ActionLink(linkText: "Edit", actionName: "Edit", routeValues: new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-info btn-sm" })


                    @*@Html.ActionLink(linkText: "Delete", actionName: "Delete", routeValues: new {Id =item.Id}, htmlAttributes: new { @class = "btn btn-danger btn-sm deleteBtn" })*@
                    <button class="btn btn-danger btn-sm deleteBtn" value="@item.Id"><i class="fa fa-user glyphicon-trash"></i>Delete</button>

                </td>

            </tr>
        }
    </tbody>
</table>
<form id="deleteForm" action="Delete" method="post">
    <input type="hidden" id="bookId" name="Id" />
</form>
@section scripts{
    <script src="~/Scripts/Modal.js"></script>
    <script>

        $('.deleteBtn').click(function (e) {
            var confirmation = confirm("are you sure you want to remove the item?");
            if (confirmation) {
                $.ajax({
                    type: "POST",
                   url: '@Url.Action("Delete")',
                    data: { id: $(this).val() },
                    dataType: "json",
                    error: function (msg) {
                        alert(msg);
                    },
                    success: function (data) {

                        location.reload();
                    }

                });
            }
        });


       // $(function () {
       //     var PlaceHolder = $('#PlaceHolder');
       // $('button[data-toggle="ajax-modal"]').click(function (event) {

       //     var url = $(this).data('url');
       //    // alert(url);

           
       //         $.get(url).done(function (data) {
       //             PlaceHolder.html(data);
       //             PlaceHolder.find('.modal').modal('show');

       //         })

       // })
       //     //PlaceHolder.on('click', '[data-save="modal]', function (event) {
       //         $('button[data-save="modal"]').click(function (event) {
       //         alert('hello');
       //         var form = $(this).parents('.modal').find('form');
       //         var actUrl = form.attr('action');
       //         var data = form.serialize();
       //         $.post(actUrl, data).done(function(data){
       //             PlaceHolder.reload();
       //         })

       //     })

       //})
    </script>


}



