@model BookStoreAli.Models.Book

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="Post">
    <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
    <div class="row">
        <label class="col-md-4">@nameof(Model.Name)</label>
        <input class="form-control col-md-6" name="@nameof(Model.Name)" value="@Model.Name" />

    </div>
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger col-md-offset-4" })

    <br />
    <div class="row">
        <label class="col-md-4">@nameof(Model.Price)</label>
        <input class="form-control col-md-6" name="@nameof(Model.Price)" value="@Model.Price" type="number" />
    </div>
    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger col-md-offset-4" })


    <br />
    <div class="row">
        <label class="col-md-4">@nameof(Model.Category)</label>
        @*  @Html.DropDownList(nameof(Model.Category), new SelectList(ViewBag.BookCategories), "Select Category", new { @class = "form-control" })*@
        @Html.DropDownList(nameof(Model.Category), Model.Categories, "Select Category", new { @class = "form-control" })
        @*@Html.DropDownList()*@
        <div class="col-md-offset-4">@Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })</div>

    </div>
    <br />
    <div class="row">
        <label class="col-md-4">@nameof(Model.Author)</label>
        <input class="form-control col-md-6" name="@nameof(Model.Author)" value="@Model.Author" />

    </div>
    @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger col-md-offset-4" })

    <br />
    <div class="row">
        <label class="col-md-4">@nameof(Model.Available)</label>
        <select class="form-control" id="status_id" name="@nameof(Model.Available)">
            <option value="">Select Availability</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <div class="col-md-offset-4"> @Html.ValidationMessageFor(model => model.Available, "", new { @class = "text-danger" })</div>


    </div>
    <br />
    <button type="submit" class="col-md-offset-4 btn btn-success">Submit</button>

    @Html.ActionLink(linkText: "Back to List", actionName: "BookDetails", routeValues: "", htmlAttributes: new { @class = "btn btn-primary" })
</form>
@section scripts{

    <script>

        //$('.deleteBtn').click(function (e) {
            $('#status_id').val( @Model.Available).change();
        
        //});
    </script>

}
@*<script>

        $('#status_id').val("trueu").change();


    </script>*@
